* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

.form-input {
	margin-top: 18px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

input[type='number'] {
	padding: 6px 12px;
	font: inherit;
	border-radius: 0;
	border: 1px solid black;
}

table,
td,
th {
	border: 1px solid;
}

td,
th {
	text-align: left;
	padding: 6px 12px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

.container {
	max-width: 60vh;
	max-height: 70vh;
	margin: auto;
	padding-top: 5vh;
}

.btn {
	margin: 0.5vh;
	padding: 0.5em;
	position: relative;
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}