<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Pokimac</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="{{ url_for('static', filename='app.js') }}" defer=""></script>
</head>

<body>
	<p>Ajouter pokimac</p>
	<a href="PokimacDresseur">
		<p>Voir pokimacdex (et profils)</p>
	</a>
	<a href="PokimacEquipe">
		<p>Voir équipe</p>
	</a>
</body>

</html>