<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Pokimac</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="{{url_for('static', filename='dresseurs.js')}}" defer=""></script>

</head>

<body>
	<div class="container">
		<label for="orderBy">Trier par: </label>
		<select id="orderBy">
			<option value="None" selected></option>
			<option value="username">ordre alphabétique</option>
			<option value="type_id">type</option>
		</select>
		<table>
			<tr>
				<th>ID</th>
				<th>Nom</th>
				<th>Team</th>
				<th>Type</th>
				<th>Promotion IMAC</th>
				<th>Pokémon totem</th>
			</tr>
			{% for pokimac in PokimacDresseur_aff %}<tr>

				{% for value in pokimac %}

				<td>{% if loop.index == 1 %}
					<a href="/PokimacDresseur/{{value}}">Fiche</a><br>
					<button class="btn update" id="{{value}}">Modifier</button> <br>
					<a href="PokimacDresseur"><button class="btn delete" id="{{value}}">Supprimer</button></a>
					{% else %}
					{{value}}
					{% endif %}

				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>

		<a href="PokimacDresseurForm"><button class="btn">ajouter Pokimac dresseur</button></a>
		<a href="/"><button class="btn">Retour</button></a>
	</div>



</body>

</html>