<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Pokimac</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="./app.js" defer></script>
</head>

<body>
	<div class="container">
		<table>
			<tr>
				<th>Nom</th>
				<th>Team</th>
				<th>Promotion IMAC</th>
				<th>Pokémon totem</th>
				<th>Pokéball</th>
			</tr>
			<tr>
				<td><input type="text" name="username" id="username" required></td>
				<td>//</td>
				<td><input type="number" name="promotion_IMAC" id="promotion_IMAC" required></td>
				<td>Pokémon totem : </td>
				<td>Pokéball : </td>
			</tr>
		</table>

		<button class="btn" href="">ajouter Pokimac dresseur</button>
	</div>



</body>

</html>