<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Pokimac</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="{{url_for('static', filename='app.js')}}"></script>

</head>

<body>
	<a href="https://pokeapi.co/api/v2/">test</a>
	<div class="container">
		<table>
			<tr>
				<th>ID</th>
				<th>Nom</th>
				<th>Team</th>
				<th>Type</th>
				<th>Promotion IMAC</th>
				<th>Pokémon totem</th>
			</tr>
			{% for pokimac in PokimacDresseur_aff %}<tr></tr>
			{% for value in pokimac %}
			<td>{{value}}</td>
			{% endfor %}
			</tr>
			{% endfor %}
		</table>

		<a href="PokimacDresseurForm"><button class="btn">ajouter Pokimac dresseur</button></a>
	</div>



</body>

</html>