<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Pokimac</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="{{url_for('static', filename='app.js')}}"></script>

</head>

<body>
	<div class="container">

		<label for="orderBy">Trier par: </label>
		<select name="triPokimac" id="orderBy">
			<option value="nom">ordre alphabétique</option>
			<option value="type">type</option>
		</select>

		<table>
			<tr>
				<th>ID</th>
				<th>Nom</th>
				<th>Team</th>
				<th>Type</th>
				<th>Promotion IMAC</th>
				<th>Pokémon totem</th>
			</tr>
			{% for pokimac in PokimacDresseur_aff %}<tr>

			{% for value in pokimac %}

			<td>{% if loop.index == 1 %}
				<a href="/supprimerPokimacDresseur?pokimac={{value}}">X</a>
				<a href="PokimacDresseurForm" ><button class="btn" name="modify" value="{{value}}">modifier</button></a>
				{% else %}
				{{value}}
				{% endif %}

			</td>
			{% endfor %}
			</tr>
			{% endfor %}
		</table>

		<!-- <button class="btn" id="modify1" value="{{value}}">modifier</button> -->

		<a href="PokimacDresseurForm"><button class="btn">ajouter Pokimac dresseur</button></a>
	</div>



</body>

</html>