<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Pokimac</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="{{ url_for('static', filename='form.js') }}" defer=""></script>
</head>

<body>
	<div class="container">
		<table>
			<tr>
				<th>Nom</th>
				<th>Team</th> -->
				<th>Promotion IMAC</th>
				<th>Pokémon totem</th>
			</tr>
			<tr>
				<td><input type="text" name="username" id="username" required></td>
				<td>
					<select name="team" id="team">
						<option value=""></option>
						{% for team in Team_aff %}
						{% for value in team %}
						<option value="{{value}}">{{value}}</option>
						{% endfor %}
						{% endfor %}
					</select>
				</td>
				<td>
					
					<select name="pokemon_totem_id" id="pokemon_totem_id" required>
					{% for pokemon in Pokemon_aff %}
					{% for value in pokemon %}
					<option value="{{value}}">{{value}}</option>
					{% endfor %}
					{% endfor %}
					</select>
				</td>
				<td><input type="number" name="promotion_IMAC" id="promotion_IMAC" min="2009" max="2025" required></td>
				<td><select name="pokemon_totem_id" id="pokemon_totem_id" required>

						{% for pokemon in Pokemon_aff %}
						{% for value in pokemon %}
						<option value="{{value}}">{{value}}</option>
						{% endfor %}
						{% endfor %}
					</select>
				</td>
			</tr>

		</table>

		<a href="PokimacDresseur"></a><button class="btn" id="add">Ajouter</button></a>
		<a href="PokimacDresseur"><button class="btn">Retour</button></a>
		<div id="res"></div>
	</div>



</body>

</html>